body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-weight: normal; }

@media and {
  position: relative;
  overflow-y: scroll; }
.container {
    /*
   * background-color: #ded0b4;
   */
  height: 100%;
  overflow: visible; }

header {
  font-family: 'DINNextW01-CondensedHea', sans-serif;
  text-transform: uppercase; }

header.masthead {
  position: relative;
  margin: -68px 10px 10px 10px;
  padding-bottom: 0px;
  border: 0;
  text-transform: none; }

header.masthead.front {
  margin: 10px 10px 10px 10px; }

header.masthead a {
  text-decoration: none; }

header.masthead a h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 46px;
  font-family: 'Futura W01 Bold', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  margin-bottom: 0px;
  color: #6688cc; }

h2 {
  color: black;
  font-family: 'DINNextW01-CondensedBol', sans-serif;
  font-weight: normal;
  text-indent: 0px;
  margin-top: 15px;
  font-size: 32px;
  font-style: normal;
  line-height: 36px;
  text-transform: uppercase;
  width: 100%;
  border-bottom: 1px solid #555555; }

.view-grouping-header,
.views-field-title,
h3 {
  color: #555555;
  font-style: normal;
  font-weight: normal;
  font-family: 'DINNextW01-CondensedBol';
  text-transform: uppercase;
  font-size: 26px;
  line-height: 24px;
  margin: 10px 0px 10px 0px; }

.view-grouping-header a,
.views-field-title a,
h3 a {
  color: #555555;
  text-decoration: none; }

.view-grouping-header a:hover,
.views-field-title a:hover,
h3 a:hover {
  color: black;
  text-decoration: underline; }

h4,
lh {
  font-family: 'DINNextW01-CondensedReg';
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #333333;
  padding: 4px 0px;
  margin-bottom: 4px;
  border-bottom: 0px dashed black; }

div.block {
  overflow: hidden; }

ul {
  margin: 0;
  padding: 0; }

p {
  font-family: Georgia, serif;
  font-size: 16px;
  color: #333333; }

a {
  text-decoration: underline;
  color: black; }

.item-list ul li,
ul li {
  margin: 0px; }

a.image.wrap {
  display: block;
  overflow: hidden; }

a.image.wrap.h img {
  height: 100%;
  width: auto; }

a.image.wrap.w img {
  width: 100%;
  height: auto; }

.grid.windows {
  background-color: white; }

div.nav.list {
  margin-bottom: 20px;
  margin-top: 0px;
  position: relative;
  height: 65px;
  text-transform: uppercase;
  width: 100%;
  z-index: 12;
  overflow: visible; }

.nav.list ul {
  float: left;
  margin-top: 0px;
  padding-left: 0px;
  position: relative;
  visibility: visible;
  overflow: visible; }

.nav.list ul div {
  width: auto;
  margin: 0px auto; }

.nav.list li {
  float: left;
  position: static;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0px;
  text-decoration: none;
  list-style: none;
  display: block;
  font-family: DINNextW01-CondensedReg, sans-serif;
  font-style: normal;
  overflow: visible;
  padding: 10px 10px 0px 0px;
  text-transform: uppercase; }

.nav li a {
  font-weight: 300;
  display: inline;
  text-decoration: none;
  min-height: 20px;
  margin-bottom: 7px;
  margin-right: 7px; }

.nav li a:hover {
  text-decoration: underline; }

/*
 * hide sub-menus unless the section is active
 */
.nav.list li ul {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden; }

/*
 * show sub-menu on active or hover
 */
.nav.list li.active-trail ul,
.nav.list li:hover ul {
  top: 40px;
  left: 0px;
  margin-left: 10px;
  width: 100%;
  position: absolute;
  visibility: visible;
  overflow: visible; }

.nav.list li ul li {
  float: left;
  font-family: 'DINNextW01-CondensedUlt';
  font-size: 20px;
  display: inline;
  padding-top: 0px;
  margin-left: 0px;
  background-color: white;
  z-index: 10; }

/*
 * only bold active sub menus; color connects to top implicitly
 */
.nav.list li ul li.active-trail {
  text-decoration: underline; }

/*
 * li.nav.list.item ul li.nav.list.item:after {
 * color: #ccc;
 * content:"|";
 * }
 */
.nav.list li ul li.nav.list.item:last-child:after {
  content: none; }

.nav.list li:nth-child(1) a,
.nav.list li:nth-child(1) ul li a {
  color: #6688cc; }

.nav.list li:nth-child(2) a,
.nav.list li:nth-child(2) ul li a {
  color: #b080cc; }

.nav.list li:nth-child(3) a,
.nav.list li:nth-child(3) ul li a {
  color: #b0cc80; }

.nav.list li:nth-child(4) a,
.nav.list li:nth-child(4) ul li a {
  color: #dda040; }

.list.grid li {
  display: inline-block;
  overflow: visible;
  vertical-align: top; }

.list.grid li .views-field-title,
.list.grid li h2 {
  position: relative;
  background-color: #f5f5f9;
  opacity: 0.8;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0px;
  display: block;
  z-index: 11; }

.list.grid li img {
  position: relative;
  top: 0px;
  margin-bottom: -3em;
  z-index: 2; }

.list.grid.groupings li {
  position: relative; }

.list.grid.groupings li img {
  top: auto;
  position: static;
  margin-bottom: 10px; }

.list.grid li img {
  width: 100%;
  height: auto; }

.list.grid li p {
  margin-top: 5px; }

.list.grid li a.image.wrap {
  display: block;
  width: 100%;
  height: 100%; }

.list.grid li a span {
  position: absolute;
  display: block;
  width: 100%;
  height: 14px;
  padding-top: 2px;
  background-color: #333333;
  opacity: 0.7;
  color: white;
  font-size: 20px;
  line-height: 18px;
  text-align: right;
  bottom: 0px;
  left: 0px; }

.container div.search {
  background-color: white;
  margin-right: 0px; }

.search div#block-search-form {
  float: right;
  background-color: white;
  margin: 0px 10px; }

form input[type=text] {
  border: 1px #999999 solid;
  box-shadow: 0px 0px 0px white;
  height: 20px;
  padding: 0px;
  margin: 0px 5px; }

#block-search-form form input[type=submit] {
  border: 0px;
  background: url(../images/wc-art-glyphs-small.svg) no-repeat center;
  color: transparent;
  width: 20px;
  height: 20px;
  display: hidden; }

.slider.item > * {
  margin-left: 0px; }

div.system.header {
  margin: 20px 0px 0px 0px; }

div.container div.section {
  background-color: #f5f5f9;
  padding: 10px;
  margin-left: 0px; }


.inside {
  padding: 10px; }

div header {
  font-size: 18px;
  margin: 10px 5px 10px 0; }

.slider.item p {
  margin: 0 10px; }

.slider.item p:after {
  content: "..."; }

.slider.item a.image.wrap {
  height: 200px;
  float: left;
  margin-right: 20px; }


/*
 * div.blockquote p:first-letter {
 * display: block;
 * float: left;
 * font-size: 60px;
 * line-height: 55px;
 * padding-bottom: 0px;
 * padding-right: 7px;
 * margin:0;
 * color: #6088b0
 * }
 */
.arrow {
  width: 20px;
  height: 20px;
  display: inline-block;
  float: left;
  background-image: url("../images/arrows.png"); }

div.arrow.left {
  background-position: 0 0; }

div.arrow.right {
  background-position: 20px 0px; }

div.footer > span {
  margin: 0px auto; }

div.footer span span {
  color: #666666;
  margin-right: 10px; }

/*
 * Drupal block stuff
 */

