body {
  background: #929292;
  font-family: "p22-underground";
  margin: auto;
  width: 1024px;
}
h1 {
  font-family: "futura-pt";
  font-size: 72px;
  line-height: 70px;
  color: #68c;
  margin-bottom: 10px;
}


p{
	font-weight: 100;
	font-size: 32px;
}

a {
  color: #6baed6;
}

a:not(:hover) {
  text-decoration: none;
}

.stack {
  background: #ededed;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  display: none;
  font-size: 48px;
  height: 700px;
  padding: 40px 60px;
  width: 1024px;
  margin: 0px auto;
  overflow: hidden;
  -webkit-transform: translate3d(0,0,0);
}
section {
	position: relative;
}
iframe {
	border-width: 0px;
	overflow: hidden;
	
}
header.masthead {
	width: 100%;
	padding: 30px 10px 10px 10px;
	margin-bottom: 40px;
	}
header.masthead h1 {
	font-family: 'futura-pt', sans-serif;
	font-weight: 700;
	font-size: 60px;
	margin-top: 100px;
	color: #68c;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

header h1 span.primary {
	font-weight: 400;
	}
 h3 { 
	font-family: "p22-underground", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height:24px;

}
h4, lh {
	font-family: "p22-underground",sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #333;
	padding: 4px 0px;
	margin-bottom: 4px;
	border-bottom: 0px dashed #000;

}
h5 {
	font-family: "p22-underground",sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
	color: #333;	
}

.active {
  box-shadow: 0px 4px 8px rgba(0,0,0,.5);
  display: block;
  position: fixed;
}

.grey {
  color: #969696;
}

@media
screen and (max-device-width: 1024px) {
  body {
    width: 1000px;
  }

  .stack {
    margin: 40px 0;
  }

  .stack {
    display: block;
  }
}
