
body {
	position: static;
	width: 100%;
	height: 100%;
	overflow-y: hidden;
	overflow-x: hidden;
	}
h3 { 
	font-family: "p22-underground", sans-serif;
	font-weight: 500;
	font-size: 24px;
	line-height:24px;

}
h4, lh {
	font-family: "p22-underground",sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #888;
	padding: 4px 0px;
	margin-bottom: 4px;
	border-bottom: 0px dashed #000;

}
h5 {
	font-family: "p22-underground",sans-serif;
	font-weight: 100;
	font-size: 18px;
	line-height: 20px;
	color: #888;	
}

p {
	font-family: Arial, sans-serif;
	color: #888;
}
a {
	text-decoration: none;
	color: #000;
}


.container {
	overflow-x:hidden;
	overflow-y:scroll;
}

header.masthead {
	position: relative;
	width: 100%;
	padding: 30px 10px 10px 10px;
	margin-bottom: 40px;
	}
header.masthead h1 {
	font-family: 'futura-pt', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #68c;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

header h1 span.primary {
	font-weight: 400;
	}
 
.container div.nav.four.columns {
	margin-bottom: 60px;
	width: 218px;
}
.container div.nav.list.four.columns {
	border-right: 0px dashed #000;
}

.nav.item {
	padding-bottom: 22px;
	min-height: 40px;
}

.nav.list lh.nav.item.head {
	display:block;
	padding-bottom:6px;
}

.nav.item {
	font-size: 20px;
	line-height: 20px;
	letter-spacing: 0px;
	padding-right: 10px;
	text-decoration: none; 
	float: none;
}

li.nav.item.list {
	font-family: "p22-underground", sans-serif;
	font-style: normal;
	font-weight: 100;
	text-transform: uppercase;
}

li.nav.item.list {
	display:block;
}

li.nav.item a {
	font-weight: 100;
	display:inline;
	min-height: 20px;
}

.nav.item a:hover {
	background-color: #ccc;
}

header.slider {

}

.slider.feed{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 700px;
	position: relative;
}
.slider {
	overflow: hidden;
	margin-left: 0px;
	margin-bottom: 10px;
}
.slider.item {
	min-height: 700px;
}
.slider .img-wrap {
	height:100%;
	overflow: hidden;
	max-height: 400px;
}
.slider.element {
	
}
.slider li {
	margin-bottom: 4px;
}
.slider hr {
	margin: 10px 0;
}
.slider.nav {
	margin: 0;
	padding:0;
}
.slider.nav.buttons {
	position: absolute;
	right: 0px;
	bottom: 0px;
	width: 40px;
	height: 20px;
	min-height: 20px;
	background-repeat:none;
}
.arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	background-image: url("../images/arrows.png");
}
div.arrow.left {
	background-position: 0 0;
}
div.arrow.right {
	background-position: 20px 0px;
}
