
body {
	position:absolute;
	width: 100%;
	height: 100%;
	}
	
@media only screen and (max-width: 479px) body {
	position: relative;
	overflow-y: scroll;
}	
.container {
	/*background-color: #ded0b4;*/
	height:100%;
	overflow:visible;
}
h2 {
	font-family: "p22-underground",Arial,sans-serif;
	font-size: 28px;
	font-weight: 500;
	margin-top: 0px;
	padding-top: 0px;
}
	
h3 { 
	font-family: "p22-underground", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height:20px;

}
h4, lh {
	font-family: "p22-underground",sans-serif;
	font-size: 20px;
	font-weight: 500;
	line-height: 20px;
	color: #333;
	padding: 4px 0px;
	margin-bottom: 4px;
	border-bottom: 0px dashed #000;

}
h5 {
	font-family: "p22-underground",sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 20px;
	color: #333;	
}
header {
	font-family: "p22-underground",sans-serif;
	font-weight: 500;
}

p {
	font-family: Arial, sans-serif;
	color: #333;
}
a {
	text-decoration: none;
	color: #000;
}
a.image.wrap {
	display: block;
	overflow: hidden;
}
a.image.wrap.h img {
	height: 100%;
	width:auto;
}
a.image.wrap.w img {
	width:100%;
	height: auto;
}
header.masthead {
	position: relative;
	margin: 50px 10px 10px 10px;
	padding-bottom: 0px;
	border: none;
/*	background-color: #ffe5aa;*/
	}
header.masthead h1 {
	font-family: 'futura-pt', sans-serif;
	font-weight: 700;
	font-size: 50px;
	color: #68c;
	padding-bottom: 0px;
	margin: 5px 0px 0px 5px;
	line-height: 60px;
}

header h1 span.primary {
	font-weight: 400;
	
	}
 
div.nav.grid{
	margin: 0px 0px 15px 0px;
	height: 45%;
	
}
.nav.grid lh.nav.item.head {
	display:block;
	padding-bottom:6px;
}
.nav.grid ul{
	height: 100%;
}
.nav.grid svg g.nav.grid a text tspan {
	fill: #333;
	font-size: 20px;
	font-family: "p22-underground", sans-serif;
	font-weight: 300;
}
.nav.grid svg a rect {
	fill: #fff;
	stroke: none;
	opacity: .7;
}

div.nav.list {
	padding-left: 20px;
	margin-bottom: 20px;
	position:relative;
	height: 20px;
	z-index: 12;
}
div.nav.list ul {
	float:left;
	display: block;
	position:relative;
}
div.nav.list ul div {
	width: auto;
	margin: 0px auto;
}
div.nav.list li {
	float: left;
	position: relative;
}
div.nav.list li ul {
	position: absolute;
	top: 40px;
	left: 0px;
	float: none;
	clear: left;
	display: block;
	overflow: hidden;
	height: 0px;
	padding-top: 10px;
	background-color: #fff;
	z-index: 12;
}
div.nav.list li:hover ul {
	height: auto;
}
li.nav.item {
	position:relative;
	font-size: 22px;
	line-height: 24px;
	letter-spacing: 0px;
	text-decoration: none; 
	list-style: none;
	display: block;
	float: none;
	font-family: "p22-underground", sans-serif;
	font-style: normal;
	font-weight: 800;
	padding: 10px;
}
li.nav.list.item {
	text-transform: lowercase;
}
li.nav.list.item ul {
	margin-left: 0px;
}
li.nav.list.item ul li.nav.list.item {
	font-size: 16px;
}
/*
li.nav.list.item ul li.nav.list.item:after {
	color: #ccc;
	content:"|";
}*/
li.nav.list.item ul li.nav.list.item:last-child:after {
	content:none;
}
li.nav.list:nth-child(1) a, li.nav.list:nth-child(1) ul li.nav.list a{
	color: #dda040;
}
li.nav.list:nth-child(2) a, li.nav.list:nth-child(2) ul li.nav.list a{
	color: #b0cc80;
}
li.nav.list:nth-child(3) a, li.nav.list:nth-child(3) ul li.nav.list a{
	color: #b080cc;
}
li.nav.list:nth-child(4) a, li.nav.list:nth-child(4) ul li.nav.list a{
	color: #6088b0;
}
li.nav.item a {
	font-weight: 300;
	display:inline;
	min-height: 20px;
	margin-bottom: 7px;
	margin-right: 7px;
}

li.nav.grid.item {
	height:45%;
	display:inline-block;
	text-transform: uppercase;
	background-color: #bbb;
	margin-bottom: 5px;
	overflow: hidden;
}
li.nav.grid.item a.image.wrap {
	display: block;
	width: 100%;
	height: 100%;
}

li.nav.item.grid a span {
	position: absolute;
	display:block;
	width: 100%;
	height: 14px;
	padding-top: 2px;
	background-color: #333;
	opacity: .7;
	color: #fff;
	font-size: 20px;
	line-height: 18px;
	font-weight: 500;
	text-align: right;
	bottom: 0px;
	left:0px;
}
.slider {
	/*background-color: #f0ddfa;*/
}
.slider.item > * {
	margin-left: 0px;
}
div header {
	border-bottom: 1px #ccc solid;
	font-size: 18px;
	font-weight: 500;
	margin: 10px 5px 10px 0;
	text-transform: uppercase;
}
.slider.item p {
	margin: 0 10px;
}
.slider.item p:after {
	content: "...";
	}
.slider.item a.image.wrap {
	height: 200px;
	float:left;
	margin-right: 20px;
}

h5.blockquote {
	margin-top: 50px;
	margin-left: 50px;
	font-size: 20px;
	line-height: 22px;
	font-style: normal;
	color: #333;
	word-spacing: 1px;
	background-color: #fff;
	padding: 15px 10px 20px 10px;
	display: block;
	border: 1px dashed #ccc;

}

div.blockquote:first-letter {
	display: block;
	float: left;
	font-size: 60px;
	line-height: 55px;
	font-weight: 700;
	padding-bottom: 0px;
	padding-right: 7px;
	margin:0;
	color: #6088b0
}


.arrow {
	width: 20px;
	height: 20px;
	display: inline-block;
	float: left;
	background-image: url("../images/arrows.png");
}
div.arrow.left {
	background-position: 0 0;
}
div.arrow.right {
	background-position: 20px 0px;
}
div.footer > span {
	margin: 0px auto; 
}
div.footer span span {
	color: #666;
	margin-right: 10px;
}
